In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('Concrete_Data_Yeh.csv')

In [3]:
dataset

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [6]:
indep=dataset[['cement', 'slag', 'flyash','water', 'superplasticizer','coarseaggregate','fineaggregate','age']]
dep=dataset['csMPa']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.ensemble import RandomForestRegressor

In [10]:
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 



grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

C:\Users\Madhu\Anaconda3\envs\ML\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    9.2s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   12.1s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [11]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'auto', 'n_estimators': 100}: 0.8947180486839367

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.073625,0.001247,0.004998,8.920806e-07,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.888540,0.860156,0.870314,0.873007,0.011751,5
1,0.623974,0.002493,0.022322,4.710332e-04,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.896874,0.876349,0.880680,0.884640,0.008839,1
2,0.048306,0.000943,0.004331,4.709208e-04,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.825918,0.823580,0.857557,0.835653,0.015484,11
3,0.443412,0.003398,0.022655,9.418984e-04,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.860749,0.856278,0.872973,0.863319,0.007052,7
4,0.049638,0.000942,0.003998,1.946680e-07,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.845566,0.845912,0.837588,0.843030,0.003842,9
5,0.449742,0.008037,0.021988,8.163404e-04,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.876962,0.872052,0.891929,0.880297,0.008448,2
6,0.248524,0.002623,0.003666,4.715951e-04,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.887723,0.858165,0.864182,0.870032,0.012762,6
7,2.068479,0.017548,0.015326,4.715394e-04,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.890208,0.871689,0.876158,0.879356,0.007895,3
8,0.105938,0.001414,0.003332,4.715394e-04,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.834791,0.840020,0.851174,0.841982,0.006829,10
9,0.846514,0.061224,0.015659,4.714829e-04,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.861778,0.843080,0.873570,0.859455,0.012551,8
10,0.098943,0.002159,0.002999,4.495664e-07,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.851991,0.841139,0.806434,0.833227,0.019417,12
11,0.900497,0.017195,0.011321,2.627089e-03,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.876064,0.867575,0.880406,0.874673,0.005328,4

In [14]:
cement_input=float(input("Cement:"))
slag_input=float(input("Slag:"))
flyash_input=float(input("Flyash:"))
water_input=float(input("Water:"))
superplasticizer_input=float(input("Superplasticizer:"))
coarseaggregate_input=float(input("Coarseaggregate:"))
fineaggregate_input=float(input("Fineaggregate:"))
age_input=int(input("Age:"))

Cement:546.2
Slag:9.4
Flyash:0.0
Water:122.9
Superplasticizer:35.9
Coarseaggregate:1015.2
Fineaggregate:999.6
Age:365

In [15]:
Future_Prediction=grid.predict([[cement_input,slag_input,flyash_input,water_input,superplasticizer_input,coarseaggregate_input,fineaggregate_input,age_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[64.4717]